notes.md
notes-1.md

# Ignore Python bytecode caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pyre/
.venv/

./nvim-linux-x86_64.appimage
nvim-linux-x86_64.appimage
.vscode/settings.json
whtzone.py
great-docs.yml
tmp/